<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="python" />
            <add name="Python Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Design &amp; Source Code\Source Coding\BudgetsSystem\venv\Scripts\python.exe|&quot;D:\Design &amp; Source Code\Source Coding\BudgetsSystem\venv\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
           </handlers>
    </system.webServer>
</configuration>