<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="python" />
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Design &amp; Source Code\Source Coding\BudgetsSystem\venv\Scripts\python.exe|&quot;D:\Design &amp; Source Code\Source Coding\BudgetsSystem\venv\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>

        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        </staticContent>

    </system.webServer>
</configuration>