{% extends 'base.html' %}
{% load i18n static factor_tags jformat rcms_custom_filters %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4"><i class="fas fa-file-invoice me-2"></i>{% trans "لیست فاکتورها" %}</h1>

    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="{% trans 'شماره، مبلغ، وضعیت...' %}">
            <input type="date" name="date" value="{{ date_query }}" class="form-control" placeholder="{% trans 'تاریخ' %}">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search me-2"></i>{% trans "جستجو" %}</button>
        </div>
    </form>

    <div class="row">
        {% for factor in factors %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-barcode me-2"></i>{{ factor.number|to_persian_number }}</h5>
                        <p class="card-text"><i class="fas fa-wallet me-2"></i>{% trans "مبلغ کل:" %} {{ factor.items.all|sum_items_amount|format_negative }} {% trans "ریال" %}</p>
                        <p class="card-text"><i class="fas fa-calendar me-2"></i>{{ factor.date|jformat:"%Y/%m/%d" |to_persian_number }}</p>
                        <p class="card-text"><i class="fas fa-info-circle me-2"></i>{{ factor.get_status_display }}</p>
                        <p class="card-text"><i class="fas fa-list me-2"></i>{% trans "تعداد ردیف‌ها" %}: {{ factor.items.count|to_persian_number }}</p>
                        <a href="{% url 'factor_detail' factor.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                        <a href="{% url 'factor_update' factor.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'factor_delete' factor.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                        <a href="{% url 'factor_item_approve' factor.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-external-link"></i>ریز فاکتور</a>
                         {% if factor.tanbakh.current_stage.order == 2 %}
                              <a href="{% url 'factor_approve' pk=factor.pk %}" class="btn btn-primary btn-sm"> {% trans "تأیید/رد" %}</a>
                         {% endif %}


                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12"><p class="text-center">{% trans "فاکتوری یافت نشد." %}</p></div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">«</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}&q={{ query }}">{{ num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}">»</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <a href="{% url 'factor_create' %}" class="btn btn-success"><i class="fas fa-plus me-2"></i>{% trans "ایجاد فاکتور" %}</a>
</div>
{% endblock %}