{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h5 class="mb-0">
                        {% if form.instance.pk %}
                            <i class="fas fa-edit"></i> ویرایش نسخه برنامه
                        {% else %}
                            <i class="fas fa-plus-circle"></i> ایجاد نسخه برنامه
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> ذخیره</button>
                            <a href="{% url 'appversion_list' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> بازگشت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <a href="{% url 'appversion_list' %}">بازگشت به لیست</a>
{% endblock %}